{% extends 'base.html' %}

{% block content %}

<h2>Inventory Records</h2>

<a href="{% url 'add_inventory' %}"
   class="btn btn-primary mb-3">

    Add Inventory Transaction

</a>

<table class="table table-bordered">

<tr>

<th>Product</th>
<th>Quantity</th>
<th>Type</th>
<th>Date</th>

</tr>

{% for record in inventory_records %}

<tr>

<td>{{ record.product.name }}</td>

<td>{{ record.quantity }}</td>

<td>{{ record.transaction_type }}</td>

<td>{{ record.date }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}